<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Vaptvupt - Comprou Chegou</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>Desculpe, não encontramos, vamos voltar de onde paramos?</h1>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto"> 
                            <li class="nav-item">
                                <a class="nav-link" href="/">Página Inicial</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cad/anuncio">Anúncios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/config/categoria">Categorias</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/relatorios/vendas">Relatório de Vendas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/relatorios/vendas">Relatório de Compras</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/cad/usuario">Cadastrar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Usuário</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</body>

</html>
